li {
  list-style: none;
}

.cancelation h3 {
  line-height: 40px;
}

.about-cancel .title-cancel {
  color: #2A2A2A;
  line-height: 25px;
}
.about-cancel ul {
  line-height: 20px;
}
.about-cancel ul li svg {
  margin-right: 10px;
}