.call-us-logo {
  background-image: url(https://c.myholidays.com/cms/images/theme/search-sprite-img.png);
  background-position: -295px 83px;
  width: 40px;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #b81a52;
  border-radius: 100%;
}

.call-us {
  width: 50px;
  height: 50px;
  border: 2px solid #008089;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
  padding: 2px 2px 0 2px;
}

.email-sec {
  display: flex;
  gap: 20px;
  align-items: center;
}
.email-sec p {
  font-weight: bold;
  color: #2A2A2A;
}
.email-sec a {
  font-weight: bold;
  color: #2A2A2A;
}

.call p {
  font-weight: bold;
  color: #2A2A2A;
}
.call a {
  font-weight: bold;
  color: #2A2A2A;
}

.visit-us p {
  font-weight: bold;
  color: #2A2A2A;
}
.visit-us a {
  font-weight: bold;
  color: #2A2A2A;
}

.footer-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.address {
  margin: 20px 0;
}
.address p {
  text-align: center;
  color: #343A40;
}

.footer {
  margin-top: 20px;
  background: #F8F8F8;
  padding: 40px;
}