.inclusion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li{
        list-style: none;
    }
}
.inclusion-main{
    width: 550px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin: 20px 0;
}