.flex-header {
  display: flex;
  position: relative;
  gap: 10px;
}
.flex-header p {
  color: #9A9A9A;
}
.flex-header .point-line .point {
  display: block;
  width: 8px;
  height: 8px;
  background: #9A9A9A;
  border-radius: 100%;
}

.itinerary-img {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.itinerary-img img {
  width: 150px;
  border-radius: 5px;
}

.vertical-line {
  position: absolute;
  content: "";
  background: #b2b2b2;
  top: 6px;
  width: 2px;
  left: 51px;
  height: 100%;
}

.itinerary h3 {
  margin: 10px 0;
}

.itinerary-details p {
  color: #002D61;
  font-weight: bold;
  margin-bottom: 10px;
}
.itinerary-details span {
  border: 1px solid #9A9A9A;
  color: #9A9A9A;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px 0;
}

.itinerary-details li {
  color: #2A2A2A;
  line-height: 23px;
}